.page-container .page-content-wrapper .footer {
	width: auto;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transition: left 0.3s ease;
	transition: left 0.3s ease;
  }
  .page-container .page-content-wrapper .footer.fixed {
	position: fixed;
  }